* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ====navbar==== */

.right-arrow {
  padding-inline: 6px;
}
/* ======Start hero image========  */
.navbar-light .navbar-toggler {
  color: rgb(255 255 255 / 55%);
  border-color: rgb(255 255 255 / 10%);
}
.banner {
  width: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/p6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-h3 {
  color: white;
  font-size: 33px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}
.banner-p1 {
  color: white;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.p2 {
  color: #e9b308;
  font-weight: bold;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}
.banner .card input {
  background-color: #f8f8fa;
  height: 49px;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #e9b308;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
/* ======cookies====== */
.cookie {
  width: 420px;
  height: 100px;
  background-color: rgb(59, 59, 59);
  position: fixed;
  bottom: 20px;
  border-radius: 10px;
  right: 1%;
  padding: 10px 20px;
  z-index: 2;
}

.cookie .txt {
  float: left;
  width: 65%;
}
.txt p {
  color: #ffffff;
  margin-top: 11px;
}

.cookie .accept {
  background-color: #23c55e;
  color: #fff !important;
  border-radius: 4px;
  padding: 6px 25px;
  font-size: 19px;
  margin-top: 4.5%;
  margin-left: 3%;
}
.cookie .accept:hover {
  background-color: #30b867;
}

/* ========end hero image========= */
/* ========content section========= */

.content {
  margin-top: 95px;
  margin-bottom: 30px;
}
.content h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}
.underline-text {
  border-bottom: 4px solid #e9b308;
}
/* ========end content section=========  */
.card-img-top {
  border-radius: 22px;
}
.card-p {
  color: #8a8cf1;
  font-style: normal;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
}
.card-para {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.locat-p {
  padding-top: 6px;
  padding-inline: 16px;
}

/* ====card section 1==== */
.cards-section1 p h5 {
  font-family: "Noto Sans", sans-serif;
}
.fa-location-size {
  font-size: 22px;
}
/* =====card section2===== */

.section-3 {
  width: 100;
  background-color: #202938;
}
.section-3 h3 {
  font-family: "Poppins", sans-serif;
}
.section-3 p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.img-section-1 {
  margin-top: 61px;
}
.img-section-2 {
  margin-top: 183px;
}
.text-align {
  text-align: justify;
}
.col-left-para {
  margin-left: 10px;
}
.check-icon {
  font-size: 22px !important;
  color: #45eb7a;
}
.check-icon-color {
  font-size: 22px !important;
  color: #24ce5a;
}
.section3 {
  margin-top: -72px;
}
/* <!-- =======start footer======= --> */
.footer {
  font-size: 14px;
  color: white;
}

.footer .footer-top {
  background: #202938;
  padding: 60px 0 30px 0;
}

.footer .footer-top .heading-4 {
  margin-left: 46px;
}
.footer .footer-top .footer-info p {
  line-height: 24px;
  margin: 19px 0 0px 0;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  font-size: 18px;
  line-height: 1;
}
.footer .footer-top .footer-links ul li {
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul a {
  color: #ffffff;
}

.footer2 {
  height: 60px;
}
/* <!-- =======end footer======== --> */
/* ===media queries===== */

@media (max-width: 576px) {
  .banner-right-col {
    margin: 30px 0 0 0 !important;
  }
  .banner h3 {
    font-size: 27px;
    text-align: center;
  }
  .banner p {
    font-size: 16px;
    text-align: center;
  }
  .content-col1 {
    margin-top: -59px;
  }
  .content-col2 {
    margin-bottom: -57px;
  }
  .section-3 {
    margin-top: -82px;
  }
  .section-3 img {
    height: 200px;
  }
  .img-section-2 {
    margin-top: -16px;
  }
  .section-3 .col-right {
    text-align: center;
  }

  .footer-info {
    width: 80%;
    margin: auto;
  }
  .footer-info .button {
    margin-top: 8px;
  }
}

/* ======about page======== */
.about-banner {
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/p10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.about p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.form-control:focus {
  box-shadow: none;
}
.btn:focus {
  box-shadow: none;
}
/* counter section start========  */
.counter-container {
  margin-top: 50px;
}

.counter-box {
  display: block;
  background: #f6f6f6;
  padding: 40px 20px 37px;
  text-align: center;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 18px;
  font-weight: 500;
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #d2d2d2;
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #666;
  line-height: 28px;
}

.counter-box.colored {
  background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #fff;
}
/* =====counter section end======== */
/* <!-- =======what we do======= --> */

.what-we-do {
  background: #ffffff;
}
.what-we-do .card {
  padding: 1rem !important;
  border: none;
  margin-bottom: 1rem;
  box-shadow: 7px 7px 7px -3px rgb(158, 158, 158);

  transition: 0.5s all ease;
}

.what-we-do .card .card-block {
  padding-left: 50px;
  position: relative;
}
.what-we-do .card .card-block a {
  color: #e9b308 !important;
  font-weight: 700;
  text-decoration: none;
}

.what-we-do .card .card-block:before {
  font-family: FontAwesome;
  position: absolute;
  font-size: 39px;
  color: #47ad7c;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.what-we-do .card .block-1:before {
  content: "\f0e7";
}
.what-we-do .card .block-2:before {
  content: "\f0eb";
}
.what-we-do .card .block-3:before {
  content: "\f00c";
}
.what-we-do .card .block-4:before {
  content: "\f209";
}
.what-we-do .card .block-5:before {
  content: "\f0a1";
}
.what-we-do .card .block-6:before {
  content: "\f218";
}
.what-we-do .card:hover .card-block:before {
  transform: rotate(360deg);
  -moz-: 0.5s all ease;
  transition: 0.5s all ease;
}
@media (max-width: 576px) {
  .counter-container {
    margin-top: -24px;
  }

  .about .img-2 {
    margin-top: -21px;
  }
  .img-1 img {
    margin-top: -23px !important;
  }
  .img-2 img {
    margin-top: 23px !important;
    margin-bottom: -74px !important;
  }
}
/* @media only screen and (max-width: 480px) {
 .img-1 img {
    margin-top: -23px !important;
  }

} */

/* <!-- =======what we do end======= --> */
.section-intro {
  font-size: 1.125rem;
  color: #828d9f;
}

.integration-list .item img {
  width: 100px;
  height: auto;
  background: #fff;
}
.rounded-circle {
  border-radius: 50% !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
img,
svg {
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .top-line-lg:before {
    content: "";
    display: inline-block;
    width: 160px;
    height: 80px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 3px #cccff8;
    padding: 30px;
    border-radius: 50%;
    position: absolute;
    right: -80px;
    top: -10px;
  }
}

@media (min-width: 1200px) {
  .bottom-line-lg:before {
    content: "";
    display: inline-block;
    width: 160px;
    height: 80px;
    z-index: -1;
    background: transparent;
    border: none;
    border-bottom: dashed 3px #cccff8;
    padding: 30px;
    border-radius: 50%;
    position: absolute;
    right: -80px;
    bottom: -10px;
  }
}

@media (min-width: 1200px) {
  .top-line-lg {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .bottom-line-lg {
    position: relative;
  }
}

@media (min-width: 992px) {
  .mb-lg-5 {
    margin-bottom: 3rem !important;
  }
}

/* ======about page end======== */
/* =====facilities page start====== */

.facilities-p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.section-facilities {
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/p13.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-facilities p {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.section-facilities button {
  background-color: #e9b308;
}
.service-container {
  transition: all 0.5s ease;
}

.service-container .icon {
  margin-top: 5%;
  font-size: 38px;
  transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 {
  height: 70px;
  width: 70px;
  line-height: 80px;
  border-radius: 64% 36% 55% 45% / 76% 72% 28% 24% !important;
  transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 i {
  font-size: 30px;
}

.service-container .number-icon .number {
  position: absolute;
  top: 0;
  right: 70px;
  left: 0;
  height: 35px;
  width: 35px;
  margin: 0 auto;
  transition: all 0.5s ease;
}

.service-container .number-icon .number span {
  line-height: 30px;
}

.service-container .content .number {
  font-size: 40px;
  color: #dee2e6;
}

.service-container .content .title {
  transition: all 0.5s ease;
}

.service-container.hover-bg {
  transition: all 0.5s ease;
}

.service-container.hover-bg .smooth-icon {
  position: absolute;
  bottom: -40px;
  right: -20px;
  font-size: 60px;
  color: #f8f9fa;
  transition: all 0.8s ease;
}

.service-container.hover-bg:hover .content .title {
  color: #ffffff !important;
}

.service-container.hover-bg:hover .content .serv-pera {
  color: #fafafb !important;
}

.service-container.hover-bg:hover .smooth-icon {
  font-size: 100px;
  opacity: 0.2;
  bottom: -20px;
  right: 10px;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.service-wrapper {
  transition: all 0.5s ease;
}

.service-wrapper .icon {
  width: 60px;
  height: 60px;
  line-height: 45px;
  transition: all 0.5s ease;
}

.service-wrapper .content .title {
  transition: all 0.5s ease;
  font-weight: 500;
}

.service-wrapper .big-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  transition: all 0.5s ease;
}

.service-wrapper:hover {
  box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  background: #ffffff;
  transform: translateY(-8px);
  border-color: transparent !important;
}

.service-wrapper:hover .icon {
  background: #afc21f !important;
  color: #ffffff !important;
}

.service-wrapper:hover .big-icon {
  z-index: -1;
  opacity: 0.1;
  font-size: 160px;
}

.text-custom {
  color: #697704 !important;
}

.uim-svg {
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
  font-size: inherit;
  fill: var(--uim-color, currentColor);
}
.user-photo {
  width: 120px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.img-cover {
  height: 111px;
  width: 121px;
}
.c1 {
  transition: 0.5s;
  cursor: pointer;
}

.c1:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/* =====facilities page end====== */
/* ======contact page start====== */
.contact {
  padding-top: 5px;
}
.banner-background {
  width: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/p12.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner .social-links {
  margin: 0 0 40px 0;
  padding-bottom: 45px;
}
.banner .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.banner .social-links a:hover {
  background: #f3a200;
  color: #fff;
  text-decoration: none;
}
/* .bg-contact{
}
.co */
.contact .bg {
  background-color: #e7e7e7;
  box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 0.83);
}
.contact h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.contact .btn-color {
  background-color: #23c55e;
}

/* ======contact page start end====== */
/* ====login register page===== */
.bg {
  background: #23c55e;
}
.button-background {
  background-color: #e9b308;
}
.text-color {
  color: #23c55e;
}
.btn-signup {
  width: 100%;
}

/* ========bussines section========== */
.bg-color {
  background-color: #99c4e5;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}
.dash-sec-left {
  font-family: "Noto Sans", sans-serif;
}
.dash-sec-left nav {
  margin: 0;
  padding: 0;
}
.dash-sec-left i {
  margin-right: 18px;
  font-size: 18px;
  color: #686868;
  margin-left: 24px;
}
.dash-sec-left a {
  font-size: 18px;
  color: #686868;
  height: 62px;
}
.dash-sec-left a:hover {
  background-color: #e9e9ec;
  color: #686868;
  border-left: 4px solid #23c55e;
}
.nav .active {
  color: #23c55e;
  font-weight: bold;
}
.dash-sec-left h2 {
  font-weight: bold;
}
.dash-sec-left .btn-color {
  background-color: #e9e9ec;
  margin-left: 8px;
}
.dash-sec-left .btn {
  width: 104px;
}

.dash-sec-left card-body {
  height: 300px;
}
.input-file {
  height: 37px;
}
.dash-sec-left a {
  font-family: "Noto Sans", sans-serif;
}
.form-control:focus {
  box-shadow: none;
  background-color: #f8f8fa;
}
.form-control {
  border: none;
  background-color: #f0f0f0;
  height: 49px;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}
.input-top {
  margin-top: 10px;
}
.input-icon-plus {
  font-size: 23px;
}

@media (max-width: 576px) {
  .right-section i {
    font-size: 18px;
    color: #686868;
    margin: 0;
    padding: 0;
  }
}

.insta-logo {
  height: 22px;
  width: 22px;
}
.profile-logo {
  height: 93px;
  width: 96px;
  margin-top: 15px;
}
.bussines-logo {
  height: 24px;
  width: 36px;
}
.i-pos {
  padding-top: 14px;
}
/* ==========bussines profile page======== */
/* ===hero section===== */
.hero {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/p6.jpg);
  background-size: cover;
  position: relative;
}

.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;

}
.div-bg{
  background-color: black;
  height: 100px;
  width: 65%;
  bottom: 5px;
  position: absolute;
  opacity: 0.5;
  margin-left: 115px;
  border-radius: 11px;
  margin-top: 5px;
}



.hero h1 {
  margin-top: 75px;  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}
.profile-card-img{
  border-radius: 12px;}
.hero p{
  color: #fff;
  font-size: 22px;
}
.hero-review{
  font-size: 20px;}

.hero .contact-section{
  width:55%;
}
.hero .contact-section i{
  margin-right: 11px;
}
  
  
.hero .btn-get-started {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
}
@media (max-width: 576px) {
  .hero .contact-section{
    width:100%;
  }
  .similar-services{

    margin-top: 745px;  }
  .similar-services .card{
margin-top: 10px;

  }
  .similar-last-card{
    margin-bottom: 753px;

  }
}
@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 100vh;
  }
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}





/* =====user details====== */
.profile-section .card ul li a img {
  height: 54px;
  width: 60px;
}
.profile-section .card ul li a {
 text-decoration: none;
 color: black;
}
.bg-profile .card {
  box-shadow: -4px 8px 71px -30px rgba(0, 0, 0, 0.67);
}

@media (max-width: 576px) {
  .profile-section .card ul li a img {
    height: 30px;
    width: 29px;
  }
  .profile-section .card ul li a h6{
 display: none;
   }
}
.tab-pane .thumb .fancybox img{
  height: 226px;
  width: 262px;
  margin-bottom: 25px;
}
@media (max-width: 576px) {
.profile .card img{
  display:none;

}
}
/* =========profile in formation cards=========== */
/* ======description======= */
.events .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}

.events .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.events .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}


.events .card-title {
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.events .card-title a {
  color: #37423b;
  transition: 0.3s;
}


.events .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.events .read-more a:hover {
  color: #5fcf80;
}

.events .card:hover img {
  transform: scale(1.1);
}

.events .card:hover .card-body {
  border-color: #5fcf80;
}
.events .card .card-body .card-title h5 {
  text-decoration: none;

}

/* =========similar services========= */
.similar-services img {
  max-width: 100%;
}
.similar-services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.similar-services .card {
  position: relative;
  background: #333;

  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.similar-services .card__image-container {
  margin: -2rem -2rem 1rem -2rem;
}
.similar-services .card__line {
  opacity: 0;
  animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}

.similar-services .card__title {
  color: white;
  margin-top: 0;
  font-weight: bold;
  font-size: 25px;
  margin-top: 52px;
  padding-top: 22px;
  letter-spacing: 0.01em;
}
.similar-services .card__content {
  margin-top: -1rem;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}
.similar-services .card__content .card-text{
  color: lightgrey;
  margin-bottom: 0rem;
}



@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
 }
  100% {
    transform: translateY(0);
    opacity: 1;
 }
}
@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
 }
  50% {
    opacity: 1;
    filter: blur(2px);
 }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
 }
}
